.inner {
  font-size: 1.5rem;
}

.table {
  /* display: flex; */
  /* justify-content: space-between; */
  width: 100%;
  /* height: 3rem; */
  /* padding: 3rem; */
  /* background-color: rgb(255, 255, 255); */
  /* color: black; */
  border-collapse:  collapse; /* セルの線を重ねる */
}
.th, .td {
  border: solid 1px;          /* 枠線指定 */
  text-align: center;           /* 文字の揃え位置指定 */
}
